{% load i18n crispy_forms_filters %}

<form class="form" action="" method="post" id="unfuddle_issue_form">
    {% csrf_token %}
    <input type="hidden" name="plugin" value="{{ plugin.slug }}" />

    {{ form|crispy }}
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">{% trans "Save Changes" %}</button>
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function(){
        $("#id_unfuddle-default_project_id").select2({"width": "250px"});
    });
</script>
